.linkContainer {
  position: relative;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--dark-text);
  background-color: var(--light-bg);
  border: unset;
  border-bottom: 1px solid var(--light-gray-bg);
}

.linkContainer::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  display: block;
  width: 0;
  height: 4px;
  background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
  transition: all 0.5s;
}

.link {
  display: block;
  width: 100%;
  padding-bottom: 1.1rem;
}

@media (pointer: fine) {
  .linkContainer:hover {
    cursor: pointer;
  }

  .linkContainer:hover::after {
    left: 0;
    width: 100%;
  }
}

@media (width <= 680px) {
  .linkContainer {
    z-index: 0;
    font-size: 1.7rem;
  }
}
