.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 24%) 0 3px 8px;
  transition: all 0.5s;
}

.productCard img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5rem;
  padding: 0.5rem;
}

.title {
  font-size: 1.3rem;
  flex-grow: 1;
}

.price {
  font-weight: bold;
}

.oldPrice {
  text-decoration: line-through;
  opacity: 0.5;
}

.finalPrice {
  margin-right: 1rem;
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.level {
  display: flex;
  justify-content: space-between;
}

.accent {
  color: #d9534f;
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 200px;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (pointer: fine) {
  .productCard:hover {
    scale: 1.05;
  }
}
