.main {
  padding: 8px 10px 20px;
}

.discountCodesBlock {
  display: flex;
  gap: 20px;
  font-size: 1.4rem;
  margin-bottom: 50px;
}

.discountBorderWrapper {
  border-radius: 9px;
  padding: 7px;
  background: linear-gradient(90deg, #f7941d 0%, #27aae1 100%);
}

.discount {
  border-radius: 7px;
  background-color: white;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header {
  text-align: center;
  font-size: 3rem;
  margin: 0 0 1rem;
}

.text {
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  line-height: 140%;
  margin: 0;
  text-align: justify;
}

.subtitle {
  font-size: 2rem;
}

.highlightedTextBlue {
  color: var(--dark-blue-text);
}

.highlightedTextPink {
  color: rgb(207 70 70);
}

.descriptionBlock {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #808bcc2a;
  border-radius: 2rem;
  padding: 35px;
}

.descriptionBlock:not(:last-child) {
  margin-bottom: 1.5rem;
}

.criteriaList {
  list-style-type: disc;
  padding-left: 10px;
}

.imgWrapper {
  position: relative;
  flex: 1 0 40%;
  padding-bottom: 300px;
  transition: ease 0.3s all;
}

.imgWrapper:hover {
  scale: 1.1;
}

.imgWrapper2 {
  width: 300px;
  padding-bottom: 360px;
}

.imgWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (width <= 950px) {
  .descriptionBlock {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  .imgWrapper {
    flex: 1 0 50%;
    padding-bottom: 280px;
  }

  .imgWrapper2 {
    padding-bottom: 350px;
  }
}

@media (width <= 850px) {
  .text {
    font-size: 1.2rem;
  }
}

@media (width <= 712px) {
  .header {
    font-size: 2rem;
  }

  .discountCodesBlock {
    flex-direction: column;
  }

  .imgWrapper {
    width: 430px;
  }

  .descriptionBlock {
    flex-direction: column;
  }

  .imgWrapper2 {
    order: 1;
  }

  .criteriaList {
    list-style-type: disc;
    padding-left: 20px;
  }
}

@media (width <= 510px) {
  .imgWrapper,
  .imgWrapper2 {
    width: 360px;
    padding-bottom: 280px;
  }
}

@media (width <= 410px) {
  .imgWrapper,
  .imgWrapper2 {
    width: 260px;
    padding-bottom: 210px;
  }
}
