.authorizationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 0 1rem;
  margin-top: 100px;
}

.navContainer {
  width: 100%;
  max-width: 600px;
}

.nav {
  display: flex;
  justify-content: center;
}

.formContainer {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
