.authorizationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 0 1rem;
  margin-top: 100px;
}

.navContainer {
  width: 100%;
  max-width: 600px;
}

.nav {
  display: flex;
  justify-content: center;
}

.formContainer {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.fieldContainer {
  margin-bottom: 1rem;
  width: 100%;
}

.checkboxContainer {
  display: flex;
  gap: 1%;
}

.title {
  display: block;
  margin-bottom: 0.5rem;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.input {
  padding: 0.5rem;
  width: 100%;
  color: var(--dark-gray-text);
  background-color: var(--dark-gray-bg);
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all 0.5s;
}

.input::placeholder {
  color: var(--dark-bg-text);
}

.passwordContainer {
  display: flex;
  gap: 3%;
}

.countriesSelect {
  margin-left: 2%;
}

.submitButton {
  padding: 12px 32px;
  margin: 0;
  color: var(--light-text);
  background-color: var(--orange-bg);
  border-radius: 6px;
  transition: all 0.5s;
  border-color: transparent;
  outline: none;
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.submitButton:not(:disabled):hover {
  background: #ffb800;
}

.submitButton:not(:disabled):active {
  background: #d99d00;
}
