.productContainer {
  margin-top: 50px;
  padding: 0 10px;
  display: flex;
  gap: 5%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 18px;
}

.oldPrice {
  color: #555;
  text-decoration: line-through;
}

.finalPrice {
  margin-right: 1%;
  font-size: 18px;
  font-weight: bold;
  color: #d9534f;
}

.title {
  font-size: 2rem;
}

.galleryContainer {
  display: flex;
}

.thumbnailsContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.thumbnail {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}

.thumbnail.selected {
  border-color: #007bff;
}

.thumbnailImage {
  width: 100%;
  max-width: 100px;
  height: auto;
}

.selectedImageContainer {
  width: 500px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.selectedImage {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.hiddenImage {
  display: none;
}

.cartButton {
  padding: 0.5rem;
  border-radius: 12px;
  color: #a900ff;
  background-color: #e2fdff;
  border: 2px solid #d3ebff;
  transition: all 0.4s;
}

.cartButton:disabled {
  color: #e0affa;
}

.cartButton:nth-of-type(1):not(:disabled):hover,
.cartButton:nth-of-type(1):not(:disabled):active {
  border-color: #37ff00;
  box-shadow: 0 0 33px 2px rgb(55 255 0 / 34%);
}

.cartButton:nth-of-type(2):not(:disabled):hover,
.cartButton:nth-of-type(2):not(:disabled):active {
  border-color: #00e7ff;
  box-shadow: 0 0 33px 2px rgb(0 231 255 / 34%);
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

@media (pointer: fine) {
  .thumbnail:hover,
  .selectedImage:hover,
  .cartButton:hover {
    cursor: pointer;
  }

  .cartButton:disabled {
    cursor: not-allowed;
  }
}

@media (width <= 1000px) {
  .productContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (width <= 768px) {
  .galleryContainer {
    flex-direction: column;
  }

  .thumbnailsContainer {
    flex-direction: row;
    order: 2;
    margin-top: 20px;
    margin-right: 0;
    justify-content: center;
  }

  .selectedImageContainer {
    width: unset;
  }
}

@media (width <= 450px) {
  .cartButton {
    font-size: 0.85rem;
    padding: 0.4rem 0.1rem;
  }

  .buttonsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 380px) {
  .infoContainer {
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .buttonsContainer {
    grid-template-columns: repeat(1, 1fr);
    gap: 10%;
  }
}
