* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: var(--desktop-content-width);
}
