:root {
  /* Background colors: */
  --dark-bg: #00093c;
  --light-bg: #fff;
  --light-gray-bg: #e0e0e0;
  --dark-gray-bg: #dddfe6;
  --orange-bg: #f7941d;

  /* Text colors: */
  --dark-text: #000;
  --light-gray-text: #e0e0e0;
  --dark-gray-text: #4f4f4f;
  --light-text: #fff;

  /* Content sizes: */
  --accent-color: #f7941d;
  --hover-accent-color: #ffae4d;
  --desktop-content-width: 1146px;
  --mobile-size: 576px;
}
