:root {
  --dark-bg: #00093c;
  --light-bg: #fff;
  --dark-text: #000;
  --light-text: #fff;
  --accent-color: #f7941d;
  --hover-accent-color: #ffae4d;
  --desktop-content-width: 1146px;
  --mobile-size: 576px;
}
