.logo {
  position: relative;
  margin-right: 4rem;
}

.logoIcon {
  display: block;
  mask-size: cover;
  mask-image: url('/logo.svg');
  width: 76px;
  height: 71px;
}

.dark .logoIcon {
  background-color: var(--light-text);
}

.light .logoIcon {
  background-color: var(--dark-text);
}

.title {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.dark .title {
  color: var(--light-text);
}

.light .title {
  color: var(--dark-text);
}
