.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  color: var(--dark-text);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid var(--dark-text);
  border-radius: 10px;
}

.img {
  margin-bottom: 1rem;
  width: 100%;
}

@media (width <= 330px) {
  .card {
    font-size: 1.5rem;
  }
}

@media (pointer: fine) {
  .card:hover{
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
