.aboutUsContainer {
  padding: 10px;
  text-align: center;
}

.title {
  letter-spacing: 0.02rem;
}

.membersContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 0 0 70px;
}

.introContainer {
  padding: 20px;
}

.collaborationContainer {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: stretch;
  margin-bottom: 60px;
}

.collaborationItem {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  line-height: 180%;
  background-color: #f7951d5e;
  border-radius: 20px;
  text-align: initial;
}

.collaborationTitle {
  max-width: 210px;
  text-align: center;
  margin: 0 0 7px;
}

.description {
  margin: 0;
  text-align: justify;
}

.schoolInfoBlock {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #0418882a;
  border-radius: 29px;
}

.schoolInfoText {
  max-width: 400px;
  text-align: start;
  letter-spacing: 0.02rem;
  line-height: 150%;
  padding-right: 20px;
}

.rssLogo {
  width: 100%;
}

.rssLink {
  background-color: #ffda1f;
  width: fit-content;
  display: block;
  border-radius: 16px;
  transition: all 0.4s;
}

.rssLink:hover {
  box-shadow: 0 0 18px 0 #1f1074bc;
}

@media (width <= 1050px) {
  .membersContainer {
    margin: 0 auto 70px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 400px;
    gap: 1rem;
  }
}

@media (width <= 920px) {
  .collaborationContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 700px) {
  .schoolInfoBlock {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .schoolInfoText {
    max-width: none;
    padding: 0;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .rssLink {
    max-width: 350px;
  }

  .heading2 {
    margin: 0 0 0.6rem;
  }
}

@media (width <= 480px) {
  .collaborationContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .membersContainer {
    margin: 0 auto 20px;
  }
}

@media (width <= 450px) {
  .membersContainer {
    width: 100%;
  }

  .text {
    height: 378px;
  }

  .title {
    font-size: 1.4rem;
  }

  .collaborationTitle {
    font-size: 1.1rem;
  }

  .description {
    font-size: 1rem;
  }

  .heading2 {
    font-size: 1.4rem;
  }
}
