.cardContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 29px;
  color: #2c2d2e;
  background-color: #0418882a;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 150%;
  letter-spacing: 0.009rem;
}

.cardContainer:hover {
  transform: scale(1.02);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.iconLink__image {
  width: 25px;
  border-radius: 50%;
  transition: all 0.3s;
}

.iconLink__image:hover {
  box-shadow: 0 0 10px 0 rgb(140 0 255 / 79.2%);
}

.avatarContainer {
  position: relative;
  margin-bottom: 10px;
}

.avatarOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #22212129;
  z-index: 99;
  border-radius: 100%;
}

.avatar {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 1;
}

.title,
.role {
  margin: 0;
}

.role {
  color: #6b1717;
}

.text {
  padding: 0 4px;
  height: 230px;
}

.contributionContainer {
  padding: 5px;
  text-align: left;
  list-style-type: disc;
  padding-left: 30px;
}

.contributionTitle {
  letter-spacing: 0.05rem;
}

@media (width <= 1050px) {
  .text {
    height: auto;
  }

  .cardContainer {
    height: fit-content;
  }
}

@media (width <= 400px) {
  .title {
    font-size: 1.2rem;
  }
}
