.light {
  color: var(--dark-text);
  background-color: var(--light-bg);
}

.dark {
  color: var(--light-text);
  background-color: var(--dark-bg);
}

.header {
  padding: 20px;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header__siteNav {
  margin-left: 2rem;
  align-items: baseline;
}

.header__userNav {
  align-items: end;
}

.header__navList {
  display: flex;
  gap: 2rem;
}

.header__navItem {
  position: relative;
}

.header__navItem::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: block;
  width: 0;
  height: 2px;
  transition: all 0.5s;
}

.dark .header__navItem::after {
  background-color: var(--light-text);
}

.light .header__navItem::after {
  background-color: var(--dark-text);
}

@media (pointer: fine) {
  .header__navItem:hover::after {
    width: 100%;
    left: 0;
  }
}

.userNav__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.siteNav__link {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.siteNav__link i {
  align-self: center;
}

.icon {
  mask-size: cover;
}

.light .icon {
  background-color: var(--dark-text);
}

.dark .icon {
  background-color: var(--light-text);
}

.coursesIcon {
  mask-image: url('../../assets/courses.svg');
  width: 20px;
  height: 17px;
}

.basketIcon {
  mask-image: url('../../assets/basket.svg');
  width: 23px;
  height: 21px;
}

.profileIcon {
  mask-image: url('../../assets/profile.svg');
  width: 18px;
  height: 19px;
}

.logoutIcon {
  mask-image: url('../../assets/logout.svg');
  width: 16px;
  height: 20px;
}

.loginIcon {
  mask-image: url('../../assets/login.svg');
  width: 19px;
  height: 20px;
}

.signupIcon {
  mask-image: url('../../assets/login.svg');
  width: 20px;
  height: 22px;
}

.logoutButton {
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.light .logoutButton {
  color: var(--dark-text);
}

.dark .logoutButton {
  color: var(--light-text);
}

.header__menuButton {
  display: none;
}

@media (width <= 680px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    height: 100%;
    background-color: var(--dark-bg);
    transition: transform 0.3s linear;
  }

  .header__nav.active {
    transform: translateX(100%);
  }

  .header__siteNav {
    margin-left: 0;
  }

  .header__navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }

  .userNav__link {
    flex-direction: row;
  }

  .header__menuButton {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border: none;
    z-index: 10;
    cursor: pointer;
  }

  .header__menuButton .strip {
    justify-self: end;
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--light-text);
    transition: all 0.5s;
  }

  .header__menuButton .strip::after,
  .header__menuButton .strip::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--light-text);
    transition: all 0.5s;
  }

  .header__menuButton .strip::before {
    top: -10px;
    left: 0;
  }

  .header__menuButton .strip::after {
    bottom: -10px;
    left: 0;
  }

  .header__menuButton.open .strip {
    background-color: transparent;
  }

  .header__menuButton.open .strip::before {
    transform: rotate(135deg);
    top: 0;
    left: 0;
  }

  .header__menuButton.open .strip::after {
    transform: rotate(-135deg);
    bottom: 0;
    left: 0;
  }
}
