.search {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  font-size: 1rem;
}

.input,
.button {
  padding: 0.5rem;
  border-radius: 13px;
  border: 0.5px solid var(--dark-bg);
}

.button {
  font-weight: bold;
  background-color: transparent;
  transition: all 0.5s;
}

@media (pointer: fine) {
  .button:hover {
    color: var(--accent-color);
  }
}

@media (width <= 370px) {
  .input {
    width: 180px;
  }
}
