.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: calc(100vh - 111px);
  min-height: 500px;
  max-height: 1000px;
  margin: 0 auto;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.owl {
  width: 25%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: -7%;
  font-size: 1.4rem;
  background: url('../../assets/speech-bubble-side.svg') center 100% / cover no-repeat;
  aspect-ratio: 683.198 / 312;
}

.status {
  font-size: 2rem;
  font-weight: bold;
}

.link {
  width: 30%;
  max-width: 200px;
  padding: 0.8rem 1rem;
  text-align: center;
  font-weight: bold;
  color: var(--light-text);
  background-color: var(--accent-color);
  border-radius: 10px;
}

@media (pointer: fine) {
  .link:hover {
    background-color: var(--hover-accent-color);
  }

  .link:active {
    background-color: var(--accent-color);
  }
}

@media (width <=550px) {
  .notFound {
    align-items: start;
    gap: 0;
  }

  .contentWrapper {
    flex-direction: column-reverse;
    width: 300px;
    margin: 0 auto;
  }

  .text {
    height: 170px;
    width: 200px;
    margin-right: -80px;
    margin-bottom: -40px;
    font-size: 1.4rem;
    background-image: url('../../assets/speech-bubble-top.svg');
    background-size: 100%;
  }

  .owl {
    align-self: start;
    width: 200px;
  }

  .link {
    margin-top: 100px;
    width: 70%;
    max-width: none;
    align-self: center;
  }
}

@media (width <=320px) {
  .contentWrapper {
    width: 100%;
  }

  .owl {
    display: none;
  }

  .text {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    background: none;
  }

  .link {
    width: 100px;
    font-size: 1rem;
    padding: 5px;
  }
}
