.pagesBlock {
  display: flex;
  flex-grow: 1;
  align-items: end;
  margin: 0 auto;
}

.pagesOfUsers {
  display: flex;
  gap: 0.5rem;
}

.pageNumber,
.pageCurrentNumber,
.prevButton,
.nextButton {
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  background-color: transparent;
  border: 0.5px solid var(--dark-bg);
  border-radius: 50%;
}

.pageCurrentNumber {
  font-weight: bold;
  border: 2px solid var(--accent-color);
  pointer-events: none;
}

.pageNumber {
  transition: all 0.3s ease;
  color: var(--dark-bg);
  box-shadow: rgb(20 12 138 / 58.4%) 0 3px 5px;
}

.prevButton {
  margin-right: 0.5rem;
}

.nextButton {
  margin-left: 0.5rem;
}

@media (pointer: fine) {
  .pageNumber:hover {
    scale: 1.05;
  }
}
