.catalog {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 1rem;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  width: max-content;
}

@media (width <= 700px) {
  .catalog {
    grid-template-columns: 300px;
  }
}

@media (width <= 400px) {
  .catalog {
    grid-template-columns: 250px;
  }
}

@media (width <= 330px) {
  .catalog {
    grid-template-columns: 200px;
  }
}
